footer { text-align: center;  border-top: 1px solid lightgray; padding: 10px; font-size: small}

.footer-link { text-decoration: underline; cursor: pointer; user-select: none }

.ok-btn {
    padding: 8px 22px; float: right
}