footer {
    text-align: center;
    border-top: 1px solid lightgray;
    padding: 10px;
    font-size: small;
    display: flex;
    justify-content: center;
}

.footer-link {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    padding: 5px;
}

.cal-export-btn {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 26px;
    padding: 0 14px;
    width: fit-content;
    border: none;
    color: #1b5ece;
    background: white;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

::ng-deep img#donate-button {
    height: 26px;
    width: 80px;
}
