<mat-accordion class="example-headers-align" multi="false">
    @for (record of displayedRecords; track $index + record.description) {
        <mat-expansion-panel hideToggle="true">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon [title]="record.myCategory" color="primary">{{record.myCategory | categoryIcon}}</mat-icon>
                    <div style="display: flex; flex-direction: column; gap: 2px">
                        {{ record.translation || record.description }}
                        <small class="text-gray">{{ record.date | removeZeroTime }}</small>
                    </div>
                </mat-panel-title>
                <mat-panel-description>
                    {{ record.costNis.split('.').shift() }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div [hidden]="!record.translation">Original name: {{ record.description }}</div>
            <div [hidden]="!record.myCategory">Category: {{ record.myCategory }}</div>
            <div [hidden]="!record.address">Address: {{ record.address }}</div>
            <div>Transaction Type: {{ record.transactionType }}</div>
            <div [hidden]="record.count < 2">How often: {{ record.count }} times</div>
            <div [hidden]="!record.comment">Comments: {{ record.comment }}</div>

            <mat-action-row style="gap: 12px">
                @if (record.address) {
                    <button (click)="showOnMap(record.address)">Show on Maps</button>
                } @else {
                    <button [hidden]="record.translation" (click)="searchInGoogle(record.description)">Search in Google</button>
                }
                @if (!record.translation) {
                    <button (click)="suggestTranslation(record)">Suggest translation</button>
                }
                <button (click)="detailsDialog.showModal()">Show Raw data</button>

            </mat-action-row>
        </mat-expansion-panel>

        <dialog #detailsDialog>
            <h2>Raw data</h2>
            <div class="dialog-body flex-column">
                <pre>{{record | json}}</pre>
            </div>
            <form>
                <button formmethod="dialog" class="ok-btn" autofocus>OK</button>
            </form>
        </dialog>
    } @empty {
        <div style="padding: 22px; text-align: center">
            Please <strong>Choose File</strong> or <strong>Load example</strong> to start
        </div>
    }

    @if (spentTotal) {
        <div style="padding: 24px; text-align: center">
            <strong>Total:</strong> ₪ {{ spentTotal }}
        </div>
    }

</mat-accordion>

