<dialog #loginDialog>
    <mat-icon class="close-icon" matRipple (click)="loginDialog.close()">close</mat-icon>
    <h2>CAL Login</h2>
    <div class="dialog-body flex-column">

        <form #heroForm="ngForm" (ngSubmit)="getCalToken($event)" class="flex-column">
            <mat-form-field appearance="fill" hideRequiredMarker="true">
                <mat-label>Israeli ID</mat-label>
                <input matInput
                       [(ngModel)]="loginForm.tz"
                       [disabled]="isLoading"
                       name="tz"
                       maxlength="9" minlength="9" pattern="^\d{1,9}$"
                       required
                       autofocus
                       inputmode="numeric"
                       autocomplete="username">
            </mat-form-field>

            <mat-form-field appearance="fill" hideRequiredMarker="true">
                <mat-label>Last 4 digits of the card</mat-label>
                <input matInput
                       [(ngModel)]="loginForm.last4Digits"
                       [disabled]="isLoading"
                       name="last4Digits"
                       type="password"
                       maxlength="4" minlength="4" pattern="^\d{1,4}$"
                       required
                       inputmode="numeric"
                       autocomplete="current-password">
            </mat-form-field>

<!--            TODO: Add radio buttons to choose Whats-up / sms login-->

            <button class="btn" type="submit" *ngIf="!(isLoading || error || showPinField)" [disabled]="heroForm.form.invalid">
                Get the Code
            </button>
        </form>

        <mat-form-field *ngIf="showPinField">
            <mat-label>One-time code</mat-label>
            <input matInput
                   inputmode="numeric"
                   pattern="^\d{1,6}$"
                   autocomplete="one-time-code"
                   maxlength="6"
                   minlength="6"
                   name="pin"
                   required
                   matInputAutofocus
                   (input)="download()"
                   [disabled]="isLoading"
                   [(ngModel)]="loginForm.pin"
            >
        </mat-form-field>

        <progress [hidden]="!isLoading"></progress>
        <div class="mat-mdc-form-field-error" style="width: auto; text-align: center">{{error}}</div>
    </div>
</dialog>
