<main>
  <header>
    <h1>Select CSV file</h1>
    <!--  <input type="file" id="input" (change)="onUpload($event.target)" accept="text/csv, .xls"/>-->

    <!--  <input #csvInput hidden type="file" onclick="this.value=null" (change)="csvInputChange($event)" accept="text/csv, .xls"/>-->
    <!--  <button mat-flat-button color="primary" (click)="csvInput.click()">Choose File (CSV)</button>-->

    <input #csvInput id="input-file-id" hidden type="file" onclick="this.value=null" (change)="onUpload(csvInput.files)" accept="text/csv, .xls"/>
    <label for="input-file-id" class="select-file mat-elevation-z3" matRipple>
      <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11zM8 15.01l1.41 1.41L11 14.84V19h2v-4.16l1.59 1.59L16 15.01 12.01 11z"/></svg>
      <span style="margin-left: 5px">Choose File</span>
    </label>

    <mat-label style="padding-left: 18px">{{ csvInput.files?.item(0)?.name }}</mat-label>
    <mat-label><a href="https://services.cal-online.co.il/Card-Holders/SCREENS/Transactions/Transactions.aspx" target="_blank">Go to download page</a></mat-label>
    <mat-label style="padding-left: 18px; cursor: pointer" (click)="download()">Try to download</mat-label>
  </header>


  <div class="filter-area" style="display: flex; justify-content: space-between">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput #filter (keyup)="filterTransactions(filter.value)" type="search">
      <span *ngIf="filter.value" matSuffix aria-label="Clear" (click)="filter.value=''; filterTransactions('')">
        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -5 24 24" width="18px" fill="gray">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        </svg>
      </span>
    </mat-form-field>
<!--    <button class="show-graph mat-elevation-z3" (click)="showGraph = !showGraph">Show graph</button>-->
    <div style="padding-top: 40px; padding-right: 20px; padding-left: 20px" [hidden]="chartData.length == 0">
      <a href="#" matRipple (click)="showGraph = !showGraph" style="margin-right: 20px">{{showGraph ? 'Hide' : 'Show'}} graph</a>
      <a href="#footer" matRipple>Go down</a>
    </div>

  </div>

  <div class="mat-elevation-z5" *ngIf="showGraph" style="display: flex; flex-wrap: wrap; height: 500px">

    <ngx-charts-advanced-pie-chart
      [results]="chartData"
      [gradient]="false"
      [customColors]="activeCategory"
      (select)="onSelect($event)"
    >
    </ngx-charts-advanced-pie-chart>

  </div>

  <div class="mat-elevation-z5" style="overflow: auto">
    <table mat-table [dataSource]="displayedRecords" matSort (matSortChange)="sortData($event)" matSortDisableClear="true">

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Date </th>
        <td mat-cell *matCellDef="let row"> {{ row.date | date:'d MMMM y' }} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        <td mat-footer-cell *matFooterCellDef>{{ displayedRecords.length || '' }} records</td>
      </ng-container>

      <!-- count Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Count </th>
        <td mat-cell
            *matCellDef="let row"
            (click)="filter.value=row.translation || row.description; filterTransactions(row.translation || row.description);"
            style="cursor: pointer">
          {{row.count}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- translation Column -->
      <ng-container matColumnDef="translation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Translation </th>
        <td mat-cell *matCellDef="let row"> {{row.translation}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let row"> {{row.cost}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- costNis Column -->
      <ng-container matColumnDef="costNis">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> CostNis </th>
        <td mat-cell *matCellDef="let row"> {{row.costNis}} </td>
        <td mat-footer-cell *matFooterCellDef> {{ spentTotal | currency:'₪ ' }} </td>
      </ng-container>

      <!-- comment Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Comment </th>
        <td mat-cell *matCellDef="let row"> {{row.comment}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- category Column -->
      <ng-container matColumnDef="myCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Category </th>
        <td mat-cell *matCellDef="let row"> {{row.myCategory}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" *ngIf="calRecords">No data matching the filter "{{filter.value}}"</td>
      </tr>
    </table>
  </div>

  <a href="#" matRipple style="position: fixed; top: 90vh; right: 25px; border-radius: 50%; opacity: 60%" *ngIf="calRecords">
    <svg style="border-radius: 50%; background: white" xmlns="http://www.w3.org/2000/svg" height="48" width="48">
      <path d="M22.5 31.4h3v-9.1l3.7 3.7 2.1-2.1-7.3-7.3-7.3 7.3 2.1 2.1 3.7-3.7ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.8 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24 4q4.15 0 7.8 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm0-3q7.1 0 12.05-4.975Q41 31.05 41 24q0-7.1-4.95-12.05Q31.1 7 24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24 41Zm0-17Z"/></svg>
  </a>

  <div id="footer"></div>
</main>
