main {
  padding: 20px 50px;
  min-height: 90vh;
  max-width: 1500px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 1px;

  .flex-separator {
    flex-grow: 1;
  }
}

.filter-area {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

  .go-down {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-right: 15px;
    white-space: nowrap;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
  }
}

table {
  width: 100%;
}

td.mat-mdc-footer-cell {
  white-space: nowrap;
  font-weight: 500;
  border-top: 2px solid #e6e6e6;
}

.mat-column-count {
  padding-right: 0;
}

a {
  color: black;
}

.graph-container {
  height: 35vw;
}


@media only screen and (max-width: 600px) {
  main {
    padding: 0 0 50px;
  }

  .header {
    gap: 8px;
  }

  .btn {
    border: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .filter-area {
    justify-content: space-around;
  }

  .mat-mdc-header-cell {
    padding-right: 0;
    white-space: nowrap;
  }
  .mat-mdc-cell {
    padding-right: 0;
  }
  .mat-mdc-footer-cell {
    padding-right: 0;
  }

  .graph-container {
    height: 200px;
  }

  .hidden-mobile {
    display: none;
  }
}
