/*.content {*/
/*  margin: 20px;*/
/*}*/
/*td {*/
/*  padding-right: 7px;*/
/*}*/

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

label.select-file {
  border: 1px solid gray;
  padding: 10px 15px;
  margin-left: 20px;
  border-radius: 4px;
  margin-top: -3px;
  cursor: pointer;
  display: flex;
}

a {
  color: black;
}
