/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa}
html { scroll-behavior: smooth; }

@font-face {
  font-family: "Helvetica Neue";
  size-adjust: 99.4%; // x
  ascent-override: 94%; // y
  src: local("Arial");
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #808080b3;
  padding: 12px 14px;
  border-radius: 4px;
  background-color: white;
  color: black;
  cursor: pointer;
  user-select: none;
  box-shadow:0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.btn:disabled {
  color: gray;
  box-shadow: none;
}

.loader {
  text-align: center;
  padding-top: 50px;
}

// ngx-charts legend style fixes
.legend-item {
  margin-right: 35px !important;
  margin-bottom: 18px;

  .item-value {
    margin-top: 0 !important;
    margin-bottom: 5px !important;
  }

  .item-color {
    /*height: 55px !important;*/
    border-left-width: 5px !important;
  }
}
.total-value {
  margin-bottom: 8%;
}

.total-value::before {
  content: "Total:";
}

.total-value::after {
  content: "₪";
}

.total-label {
  display: none;
}
/*.pie-label {*/
/*  font-size: 14px !important;*/
/*  margin: 5px !important;*/
/*}*/

// Angular Material@15 style fixes for text fields

.mat-mdc-form-field-focus-overlay {
  display: none;
}

.mat-mdc-form-field-icon-suffix {
  align-self: auto !important;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 14px; // space below the search field
}

.mdc-text-field--filled {
  background-color: transparent !important;
}

.mdc-text-field .mdc-floating-label {
  transform: unset !important;
}

.mdc-text-field--filled .mdc-floating-label--float-above {
  transform: translateY(-106%) scale(0.75) !important;
}


// Angular Material@15 style fixes for slide-toggle

.mdc-switch__icon {
  display: none;
}

#mat-mdc-slide-toggle-1-label {
  padding-left: 10px;
  padding-right: 3px;
}

dialog {
  border: none;
  border-radius: 4px;
  padding: 24px;
  font-weight: 400;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);

  h2 {
    text-align: center;
    margin-top: 6px;
  }

  dialog-body {
    max-height: 55vh; max-width: 600px; overflow: auto; text-align: left; margin-bottom: 20px;
  }
}

dialog::backdrop {
  background: rgba(0, 0, 0, .32);
  backdrop-filter: blur(1px);
}

.flex-column {
  display: flex; flex-direction: column;
}
