table {
  width: 100%;
}

tr.expanded-details-row {
  height: 0;
}

tr.main-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.main-row:not(.example-expanded-row):active {
  background: #efefef;
}

.main-row td {
  border-bottom-width: 0;
}

//.example-element-detail {
//  overflow: hidden;
//  display: flex;
//}

.expanded-element-description {
  padding: 16px;
}

.costNis {
  color: gray; font-size: smaller;
}

.iconCell {
  display: flex; align-items: center; gap: 8px;
}